# default group
* @pcdshub/motion-sme @pcdshub/rix-members

# language-specific group(s)
## TWINCAT files
*.tsproj @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.plcproj @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.tmc @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.tpr @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.xti @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcTTO @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcPOU @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcDUT @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcGVL @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcVis @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcVMO @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers
*.TcGTLO @pcdshub/motion-sme @pcdshub/rix-members @pcdshub/twincat-reviewers

# github folder holds administrative files
.github/** @pcdshub/software-admin
